* {
	box-sizing: border-box;
}

body {
	background: #202124;
}

h1 {
	color: white;
	font-family: Comic sans MS, cursive;
	font-size: 175%;
	text-align: center;

}

.row {
	margin: 0px 15px;
}

section {
	color: #EDEDED;
	position: relative;
	bottom: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 125%;
	background: #323639;
	padding: 20px;
	padding-top: 40px;
	border: 1px solid white;
	margin: 15px 15px;
}

p {
	margin: 2%;
}

section > span {
	color: black;
	font-family: Comic sans MS, cursive;
	font-weight: bold;
	float: right;
	margin-top: -41px;
	margin-right: -21px;
	padding: 2px 0px;
	border: 1px solid white;
}

#item1 {
	color: white;
	background: #8E5572;
	padding: 2px 40px;
}

#item2 {
	color: white;
	background: #2B2118;
	padding: 2px 54px;
}

#item3 {
	color: white;
	background: #2292A4;
	padding: 2px 52px;
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: calc(33.32% - 30px);
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: calc(49.98% - 30px);
		float: left;
	}
	section:nth-child(3){
		width: calc(99.96% - 30px);
	}
}

@media (max-width: 767px) {
	section {
		width: calc(99.96% - 30px);
		float: left;
	}
}


